{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Alder", "Alnus", "Argan", "Ash", "Banyan", "Baobob", "Beech", "Boldo", "Busux", "Carpinus",
        "Cedrus", "Chamaerops", "Chestnut", "Conifer", "Corylus", "Cypress", "Dogwood", "Elder", "Evergreen", "Fagus", "Ficus",
        "Fir", "Fraxinus", "Glen", "Grove", "Hawthorn", "Ilex", "Juniper", "Kapok", "Larch", "Larix", "Linden", "Malus", "Marro",
        "Oak", "Poplar", "Prunus", "Quercus", "Rowan", "Salix", "Spruce", "Stinkwood", "Ulmus", "Vibernum", "Walnut", "Whitebeam",
        "Wonderboom", "Wychelm", "Yellowwood", "Yew" ]
    ]
  ]
}
