{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },"Acacia", "Acorn", "Allocasuarina", "Almond", "Arboreta", "Arbre", "Aspen", "Balete", "Banksia", "Betula",
        "Biara", "Birch", "Blackthorn", "Brabejum", "Caithne", "Callitris", "Ceiba", "Cetlis", "Chosenia", "Condil", "Crabapple", "Dracaena",
        "Fanpalm", "Hackberry", "Hazel", "Holly", "Honeyberry", "Hornbeam", "Laurel", "Lotetree", "Maidenhair", "Maple", "Maroong", "Nettletree",
        "Olea", "Olive", "Pear", "Pecan", "Pine", "Pistachio", "Pungura", "Sequoia", "Sheoak", "Spring", "Thuja", "Tiaca", "Tsuja", "Turkeyberry",
        "Wanil", "Willow" ]
      ]
  ]
}
